src/share/creep/creep.dtd

<!ELEMENT creep (id, name, stats?, movement?)>
	<!ATTLIST creep id CDATA>
	
	<!ELEMENT name #PCDATA>

	<!ELEMENT stats EMPTY>
		<!ATTLIST stats health_base CDATA "1">
		<!ATTLIST stats health_coefficient CDATA "0">
		<!ATTLIST stats bounty_base CDATA "0">
		<!ATTLIST stats bounty_coefficient CDATA "0">
		<!ATTLIST stats health_regen CDATA "0">

	<!ELEMENT movement EMPTY>
		<!ATTLIST movement speed CDATA "1">
		<!ATTLIST movement type (ground | air) "ground">
